.corners {
    display: grid;
    height: 200px;
    width: 200px;
    border: 10px solid var(--yellow);

}


.corner:nth-child(1),
.corner:nth-child(2) {}

.corner:nth-child(1),
.corner:nth-child(3) {}