/*
auto-fill is used to give the browser the say on how to spread out the grid
items on the grid. The browser will fit the items based off of conetent size
and other factors into the columns/rows.
*/

/*
auto-fill is useful because it can be resized based off the size fo the site.
If the site is larger, auto-fill will place more grid items with same space onto
the column/row until the grid width is the same as the site width. Works in a
similar way when shrinking the site, except everything will move onto the next
row as the grid rows get smaller.
*/

.container {
    display: grid;
    grid-gap: 20px;
    border: 10px solid var(--yellow);
    grid-template-columns: repeat(auto-fill, 150px);
}